.analytics-wrapper {
    @include flexbox(row,space-between);
    width: 100%;
    padding: 70px 0px;
}

.analytics {
    &-left {
        @include flexbox(column,center,flex-start);
        width: 30%;
        gap: 25px;

        &-title {
            @include flexbox;
            gap: 16px;

            &-icon {
                @include flexbox;
                padding: 8px;
                gap: 10px;
                background-color: $red-normal;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            &-txt {
                @include body-3uppercase;
            }
        }

        &-heading {
            @include h3;
        }

        &-txt {
            @include body-1reguler;
        }
    }

    &-right {
        @include flexbox(row,flex-end);
        width: 60%;

        img {
            box-shadow: 16px 16px 0px 0px rgba(0, 0, 0, 0.50), 20px 20px 100px 0px rgba(0, 0, 0, 0.40), -16px -16px 0px 0px rgba(0, 0, 0, 0.50);
        }
    }
}