.benefit-wrapper {
    @include flexbox(column,flex-start,flex-start);
    width: 100%;
    padding: 70px 0px;
    gap: 40px;
}

.benefit {

    &-head {
        @include flexbox(column);
        width: 50%;
        gap: 25px;

        &-title {
            width: 100%;
            @include body-3uppercase;
        }

        &-heading {
            width: 100%;
            @include h2;

            span {
                @include h2;
                color: $primary;
            }
        }
    }

    &-row {
        @include flexbox(row,space-between);
        width: 100%;

        &-left {
            @include flexbox;
            width: 50%;
            padding: 0px 20px;

            img {
                width: 430px;
                height: 430px;
            }
        }

        &-right {
            @include flexbox(column,flex-end,flex-end);
            gap: 30px;
            width: 50%;

            &-item {
                @include flexbox(column,flex-start,flex-start);
                padding: 10px 30px;
                gap: 15px;
                width: 75%;
                border-left: 2px solid;
                border-color: rgba($white, .1);

                &:hover {
                    border-color: $primary;
                }

                span {
                    @include subtitle;
                }

                p {
                    @include body-1reguler;
                    opacity: 0.7;
                }
            }
        }
    }
}