.cta-wrapper {
    @include flexbox(row,center,center);
    width: 100%;
    margin: 70px 0px;
    padding: 140px 0px;
    position: relative;
    background-color: rgba($white, 0.10);
}

.cta {

    &-item {
        @include flexbox(column,center,center);
        width: 40%;
        gap: 40px;
        z-index: 2;

        &-head {
            @include flexbox(column,center,center);
            gap: 25px;

            h2 {
                @include h2;
                text-align: center;
            }

            p {
                @include body-1reguler;
                text-align: center;
            }
        }

        &-btn {
            @include flexbox;
            gap: 30px;

            span {
                @include body-1bold;
            }

            &-vector {
                @include flexbox(row,center,center);
                width: 24px;
                height: 24px;
                padding: 8px;
                gap: 10px;
                border: 1px solid rgba($white, 0.10);
                background: 1px solid rgba($white, 0.10);

                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    &-splash {
        position: absolute;
        right: 0px;
        top: 0px;
    }
}