.customer-wrapper {
    @include flexbox(column);
    width: 100%;
    padding: 70px 0px;
    gap: 40px;
    position: relative;
}

.customer {

    &-heading {
        width: 100%;
        @include subtitle-bold;
        color: $white;
    }

    &-logo {
        @include flexbox(row,space-between);
        flex-wrap: wrap;
        width: 100%;
        gap: 30px;

        &-item {
            @include flexbox(row,center);
            padding: 25px;
            width: 30%;
            gap: 20px;
            border-radius: 8px;
            background-color: rgba($white, .02);

            img {
                width: 52px;
                height: 52px;
            }

            span {
                @include body-1bold;
            }
        }
    }
}