.sec-header {
    height: 1024px;
    background: url(../../../assets/img/bg/unsplash_FMbWFDiVRPs.png);
    background-size: cover;
    padding-top: 140px;
    margin-top: -100px;
}

.header-wrapper {
    @include flexbox(column);
}

.header {

    &-content {
        @include flexbox(column,center,center);
        gap: 30px;

        &-heading {
            color: $light;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &-btn {
            border-radius: 5px;
            

            span {
                color: $dark;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                position: relative;
                z-index: 3;
            }
        }
    }
}