@import "psuedo";


// landing page
@import "navbar";
@import "header";
@import "showcase";
@import "why";
@import "pricing";
@import "footer";

// login page
@import "login";
@import "signup";

//cars page
@import "cars";