.information-wrapper {
    @include flexbox(row,space-between);
    width: 100%;
    padding: 70px 0px;
    position: relative;
}

.information {

    &-left {
        @include flexbox(column,flex-start,flex-start);
        gap: 25px;
        width: 50%;

        &-title {
            @include body-3uppercase;
            letter-spacing: 1.2px;
        }

        &-heading {
            @include h2;

            span {
                @include h2;
                color: $red-normal;
            }
        }

        &-txt {
            @include subtitle-reguler;
        }
    }

    &-right {
        @include flexbox(row,center);
        width: 30%;
        img {
            width: 350px;
            height: 350px;
        }
    }
}