.nav-wrapper {
    @include flexbox(row,space-between,center);
    padding: 24px 0px;
}

.nav {
    &-left {
        @include flexbox;

        a {
            color: $light;
            font-size: 35px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &-right {
        @include flexbox(row,flex-end,flex-end);

        &-item {
            @include flexbox(row,center,center);
            gap: 30px;

            a {
                @include flexbox;
                padding: 10px 20px;

                span {
                    color: rgba($light, 0.6);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                &:hover {
                    border-radius: 5px;
                    background-color: $dark;

                    span {
                        color: $light;
                    }
                    
                }
            }
        }
    }
}