.post-wrapper {
    @include flexbox(column,center,center);
    width: 100%;
    padding: 70px 0px;
    gap: 80px;
    position: relative;
}

.post {

    &-head {
        @include flexbox(row,space-between,baseline);
        width: 100%;

        &-heading {
            @include h2;
            color: $black;
            margin: 0px
        }

        &-link {
            @include flexbox;
            gap: 10px;

            span {
                @include body-1bold;
                color: $primary;
            }
    
            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    &-row {
        @include flexbox(row,space-between,flex-start);
        width: 100%;
        gap: 30px;
        flex-wrap: wrap;

        &-item {
            @include flexbox(column,space-between,flex-start);
            width: 30%;
            gap: 30px;

            &-img {
                width: 370px;
                height: 200px;
            }

            &-desc {
                @include flexbox(column,flex-start,flex-start);
                gap: 20px;

                div {
                    @include flexbox;
                    gap: 8px;

                    img {
                        width: 20px;
                        height: 20px;
                    }

                    span {
                        @include body-3uppercase;
                        color: $black;
                    }
                }

                h4 {
                    @include h4;
                    color: $black;
                }

                a {
                    @include flexbox;
                    gap: 10px;

                    span {
                        @include body-1bold;
                        color: $primary;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

    }

    
}