.signup-wrapper {
    @include flexbox(column);
    padding: 0px 60px;
    gap: 12px;

}

.signup {

    input {
        padding: 12px 20px;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &-phonenumber {
        @include flexbox(row);

        &-id {
           border-top-right-radius: unset !important;
           border-bottom-right-radius: unset !important;
           
        }

        &-number {
            border-top-left-radius: unset !important;
            border-bottom-left-radius: unset !important;
        }
    }

    &-place {
        @include flexbox;
        gap: 8px;

    }

    &-password {
        @include flexbox(row,center,center);
        position: relative;
        
        span {
            float: right;
            right: 20px;
            position: absolute;
            z-index: 2;
            cursor: pointer;
        }
    }

    &-cpassword {
        @include flexbox(row,center,center);
        position: relative;
        
        span {
            float: right;
            right: 20px;
            position: absolute;
            z-index: 2;
            cursor: pointer;
        }
    }

    &-btn {
        @include flexbox(row,space-between,center);
        padding-top: 20px;

        &-left {
            @include flexbox(row,flex-start,center);
            gap: 10px;
            padding-left: 8px;

            input {
                width: 20px;
                height: 20px;
            }

            span {
                color: #FFF;
                font-family: Poppins;
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                a {
                    color: #8787FF;
                    font-family: Poppins;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-decoration-line: underline;
                }
            }
        }

        &-right {
            @include flexbox(row,flex-end,flex-end);

            a {
                border-radius: 20px;
                padding: 8px 50px;
                color: #FFF;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
}