@import "root";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    // font-family: "poppins";
    // overflow: hidden;
}
*{
    box-sizing: border-box;
}
html, body, button{
    padding: 0;
    margin: 0;
    font-family: $fontFamilyTT;
}
button{
    cursor: pointer;
    // font-family: "poppins";
    border: none;
    background: transparent;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    // color: black;
}
h1, h2, h3, h4, h5, h6, p{
    margin: auto;
}