:root {
    $spacer: 1rem !default;
    $spacers: (
        0: 0, // 0px
        xs: $spacer * .125, // 2px
        sm: $spacer * .25, // 4px
        md: $spacer * .5, // 8px
        lg: $spacer * .75, // 12px
        xl: $spacer, // 16px
        2xl: $spacer * 1.25, // 20px
        3xl: $spacer * 1.5, // 24px
        4xl: $spacer * 2, // 32px
        5xl: $spacer * 3, // 48px
        6xl: $spacer * 4, // 64px
    ) !default;

    @each $key, $var in $spacers {
        --m-#{$key}: #{$var};
        --mt-#{$key}: #{$var};
        --me-#{$key}: #{$var};
        --mb-#{$key}: #{$var};
        --ms-#{$key}: #{$var};
        --p-#{$key}: #{$var};
        --pt-#{$key}: #{$var};
        --pe-#{$key}: #{$var};
        --pb-#{$key}: #{$var};
        --ps-#{$key}: #{$var};
      }
}

$fontFamilyTT:'TT Interfaces', sans-serif;


$media: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);


@mixin respondsive($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint == $breakpoints {
      @media screen and (max-width: $size) {
        @content;
      }
    }
  }
}