
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'TT Interfaces';
    src:  url('../../../assets/fonts/TTInterfaces-Medium.ttf');
    src:  url('../../../assets/fonts/TTInterfaces-Medium.ttf') format('embedded-opentype'),
      url('../../../assets/fonts/TTInterfaces-Medium.ttf') format('truetype'),
      url('../../../assets/fonts/TTInterfaces-Medium.ttf') format('woff'),
      url('../../../assets/fonts/TTInterfaces-Medium.ttf') format('ttf');
  }


