@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800;900&display=swap");
:root {
  --m-0: 0;
  --mt-0: 0;
  --me-0: 0;
  --mb-0: 0;
  --ms-0: 0;
  --p-0: 0;
  --pt-0: 0;
  --pe-0: 0;
  --pb-0: 0;
  --ps-0: 0;
  --m-xs: 0.125rem;
  --mt-xs: 0.125rem;
  --me-xs: 0.125rem;
  --mb-xs: 0.125rem;
  --ms-xs: 0.125rem;
  --p-xs: 0.125rem;
  --pt-xs: 0.125rem;
  --pe-xs: 0.125rem;
  --pb-xs: 0.125rem;
  --ps-xs: 0.125rem;
  --m-sm: 0.25rem;
  --mt-sm: 0.25rem;
  --me-sm: 0.25rem;
  --mb-sm: 0.25rem;
  --ms-sm: 0.25rem;
  --p-sm: 0.25rem;
  --pt-sm: 0.25rem;
  --pe-sm: 0.25rem;
  --pb-sm: 0.25rem;
  --ps-sm: 0.25rem;
  --m-md: 0.5rem;
  --mt-md: 0.5rem;
  --me-md: 0.5rem;
  --mb-md: 0.5rem;
  --ms-md: 0.5rem;
  --p-md: 0.5rem;
  --pt-md: 0.5rem;
  --pe-md: 0.5rem;
  --pb-md: 0.5rem;
  --ps-md: 0.5rem;
  --m-lg: 0.75rem;
  --mt-lg: 0.75rem;
  --me-lg: 0.75rem;
  --mb-lg: 0.75rem;
  --ms-lg: 0.75rem;
  --p-lg: 0.75rem;
  --pt-lg: 0.75rem;
  --pe-lg: 0.75rem;
  --pb-lg: 0.75rem;
  --ps-lg: 0.75rem;
  --m-xl: 1rem;
  --mt-xl: 1rem;
  --me-xl: 1rem;
  --mb-xl: 1rem;
  --ms-xl: 1rem;
  --p-xl: 1rem;
  --pt-xl: 1rem;
  --pe-xl: 1rem;
  --pb-xl: 1rem;
  --ps-xl: 1rem;
  --m-2xl: 1.25rem;
  --mt-2xl: 1.25rem;
  --me-2xl: 1.25rem;
  --mb-2xl: 1.25rem;
  --ms-2xl: 1.25rem;
  --p-2xl: 1.25rem;
  --pt-2xl: 1.25rem;
  --pe-2xl: 1.25rem;
  --pb-2xl: 1.25rem;
  --ps-2xl: 1.25rem;
  --m-3xl: 1.5rem;
  --mt-3xl: 1.5rem;
  --me-3xl: 1.5rem;
  --mb-3xl: 1.5rem;
  --ms-3xl: 1.5rem;
  --p-3xl: 1.5rem;
  --pt-3xl: 1.5rem;
  --pe-3xl: 1.5rem;
  --pb-3xl: 1.5rem;
  --ps-3xl: 1.5rem;
  --m-4xl: 2rem;
  --mt-4xl: 2rem;
  --me-4xl: 2rem;
  --mb-4xl: 2rem;
  --ms-4xl: 2rem;
  --p-4xl: 2rem;
  --pt-4xl: 2rem;
  --pe-4xl: 2rem;
  --pb-4xl: 2rem;
  --ps-4xl: 2rem;
  --m-5xl: 3rem;
  --mt-5xl: 3rem;
  --me-5xl: 3rem;
  --mb-5xl: 3rem;
  --ms-5xl: 3rem;
  --p-5xl: 3rem;
  --pt-5xl: 3rem;
  --pe-5xl: 3rem;
  --pb-5xl: 3rem;
  --ps-5xl: 3rem;
  --m-6xl: 4rem;
  --mt-6xl: 4rem;
  --me-6xl: 4rem;
  --mb-6xl: 4rem;
  --ms-6xl: 4rem;
  --p-6xl: 4rem;
  --pt-6xl: 4rem;
  --pe-6xl: 4rem;
  --pb-6xl: 4rem;
  --ps-6xl: 4rem;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "poppins";
}

* {
  box-sizing: border-box;
}

html, body, button {
  padding: 0;
  margin: 0;
  font-family: "poppins";
}

button {
  cursor: pointer;
  font-family: "poppins";
  border: none;
  background: transparent;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

nav {
  width: 100%;
}

.text-primary {
  color: #fff;
}

.grid-1 {
  width: 8.3333333333%;
}

.grid-2 {
  width: 16.6666666667%;
}

.grid-3 {
  width: 25%;
}

.grid-4 {
  width: 33.3333333333%;
}

.grid-5 {
  width: 41.6666666667%;
}

.grid-6 {
  width: 50%;
}

.grid-7 {
  width: 58.3333333333%;
}

.grid-8 {
  width: 66.6666666667%;
}

.grid-9 {
  width: 75%;
}

.grid-10 {
  width: 83.3333333333%;
}

.grid-11 {
  width: 91.6666666667%;
}

.grid-12 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  [class^=grid-] {
    width: 100%;
  }
}

section, nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
section .container, nav .container {
  width: 100%;
  max-width: 1440px;
  padding: 0px 100px;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  section .container, nav .container {
    flex-direction: column;
    padding: 0 10px;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../../../../rental_mobil/assets/fonts/Poppins-Medium.ttf");
  src: url("../../../assets/fonts/Poppins-medium.ttf") format("embedded-opentype"), url("../../../../rental_mobil/assets/fonts/Poppins-Medium.ttf") format("truetype"), url("../../../../rental_mobil/assets/fonts/Poppins-Medium.ttf") format("woff"), url("../../../../rental_mobil/assets/fonts/Poppins-Medium.ttf") format("ttf");
}
.btn-primary {
  padding: 12px 20px;
  background-color: #FD9800;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-primary::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 37, 41, 0.2);
  transition: 0.5s;
  z-index: 2;
}
.btn-primary:hover:before {
  top: 0px;
}

.btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 37, 41, 0.2);
  transition: 0.5s;
  z-index: 2;
}
.btn:hover:before {
  top: 0px;
}

body {
  background-color: #000;
}

* {
  transition: 200ms;
}

.bg-dark {
  background-color: #212529;
}

.bg-red {
  background-color: #d9534f;
}

.bg-green {
  background-color: #5cb85c;
}

.bg-blue {
  background-color: #0275d8;
}

.bg-primary {
  background-color: #FD9800;
}

.bg-abu {
  background-color: #212529 !important;
}

.d-flex {
  display: flex;
}

.fd-row {
  flex-direction: row;
}

.fd-column {
  flex-direction: column;
}

.align-item-center {
  align-items: center;
}

.align-item-end {
  align-items: flex-end;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.elipes {
  width: 24px;
  height: 24px;
  border-radius: 32px;
  border: solid 1px;
  filter: blur(1px);
}

label {
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control :focus {
  border-color: #007bff; /* Primary color */
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.relative {
  position: relative;
}

button {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #fff;
  font-family: "Poppins", sans-serif; /* Use the Poppins font */
}

a :hover {
  text-decoration: none !important;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}

.nav-brand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.nav-brand img {
  width: 52px;
  height: 52px;
}
.nav-brand span {
  color: #fff;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 36px;
}
.nav-menu-item {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.nav-menu-item:hover {
  color: #FD9800;
}
.nav-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}
.nav-btn span {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.nav-btn-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 20px;
  border-radius: 12px;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sec-header {
  height: 1024px;
  padding-top: 140px;
  margin-top: -100px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: url(../../../../rental_mobil/assets/img/bg/unsplash_FMbWFDiVRPs.png);
  background-size: cover;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header-content-heading {
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-content-btn {
  border-radius: 5px;
}
.header-content-btn span {
  color: #212529;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: relative;
  z-index: 3;
}

.showcase-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.showcase-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 60px;
}
.showcase-item-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.showcase-item-left img {
  width: 100px;
  height: 100px;
}
.showcase-item-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.showcase-item-right-number {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.showcase-item-right-txt {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.why-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-block: 120px;
  gap: 60px;
}

.why-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.why-heading h2 {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.why-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.why-row-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.why-row-item img {
  width: 120px;
  height: 120px;
}
.why-row-item h5 {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-block: 22px 48px;
}
.why-row-item p {
  color: #A7A7A7;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pricing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  margin-block: 120px;
}

.pricing-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pricing-heading h2 {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pricing-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.pricing-row-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #212529;
  padding: 20px;
  width: 30%;
  height: 539px;
  gap: 25px;
}
.pricing-row-item-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
.pricing-row-item-head span {
  color: #A7A7A7;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pricing-row-item-head h5 {
  color: #fff;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pricing-row-item-head h5 span {
  color: #A7A7A7;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pricing-row-item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.pricing-row-item-content .pricing-item-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.pricing-row-item-content .pricing-item-list img {
  width: 34px;
  height: 34px;
}
.pricing-row-item-content .pricing-item-list p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sec-footer {
  background: url("http://localhost/rental_mobil/assets/img/bg/Vector.png");
  background-size: cover;
  background-color: transparent;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 120px;
  padding-bottom: 80px;
}

.footer-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-left-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
}
.footer-left-item a {
  width: 50%;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-left-item a :hover {
  text-decoration: underline;
}
.footer-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.footer-right-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.footer-right-item a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.footer-right-item a span {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-right-item a span :hover {
  text-decoration: underline;
}

.login-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-block: 120px;
}

.login-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 889px;
  height: 663px;
  background-color: #212529;
  border-radius: 20px;
}
.login-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../../rental_mobil/assets/img/login/login_bg.png);
  background-size: cover;
  border-radius: 20px;
  height: 100%;
}
.login-content-left-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  gap: 20px;
}
.login-content-left-item .login-left-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}
.login-content-left-item .login-left-list svg {
  width: 20px;
  height: 20px;
}
.login-content-left-item .login-left-list span {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.login-content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 12px;
}
.login-content-right-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.login-content-right-head img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.login-content-right-head h2 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.login-content-right-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-content-right-main span {
  height: 50px;
}
.login-content-right-main .form-group label {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.login-content-right-main .form-group i {
  float: right;
  right: 16px;
  top: 40px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.login-content-right-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-content-right-bot .login-bot-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.login-content-right-bot .login-bot-top .line {
  width: 30%;
  height: 1px;
  background-color: #434343;
}
.login-content-right-bot .login-bot-top span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.login-content-right-bot .login-bot-mid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.login-content-right-bot .login-bot-mid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.login-content-right-bot .login-bot-mid-item:hover img {
  transform: scale(1.3);
}
.login-content-right-bot .login-bot-mid-item:hover span {
  display: none;
}
.login-content-right-bot .login-bot-mid-item img {
  width: 56px;
  height: 72px;
}
.login-content-right-bot .login-bot-mid-item:nth-child(2) img {
  width: 72px;
  height: 72px;
}
.login-content-right-bot .login-bot-mid-item span {
  color: #fff;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login-content-right-bot .login-bot-bot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-block: 30px 10px;
}
.login-content-right-bot .login-bot-bot span {
  color: #fff;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login-content-right-bot .login-bot-bot span a {
  color: #fff;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
.login-content-right-bot .login-bot-bot span a:hover {
  color: #FD9800;
}

.signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 60px;
}

.signup .d-flex {
  gap: 8px;
}
.signup .d-flex span {
  margin-top: 24px;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.signup .d-flex span a {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
.signup .d-flex span a:hover {
  color: #FD9800;
}
.signup .form-group {
  position: relative;
}
.signup .form-group label {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.signup .form-group i {
  float: right;
  right: 16px;
  top: 36px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.signup-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.signup-btn-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 8px;
}
.signup-btn-left input {
  width: 20px;
  height: 20px;
}
.signup-btn-left span {
  color: #FFF;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.signup-btn-left span a {
  color: #8787FF;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
.signup-btn-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.signup-btn-right a {
  border-radius: 20px;
  padding: 8px 50px;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cars-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-block: 60px;
}

.cars-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.cars-item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #000;
  padding: 40px 40px;
  gap: 20px;
}
.cars-item-card-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}
.cars-item-card-heading img {
  width: 100%;
  height: 242px;
}
.cars-item-card-heading h5 {
  color: #FFF;
  text-align: right;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cars-item-card-heading .span-color {
  color: #4CAF50;
  text-align: right;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cars-item-card-heading .span-color span {
  color: #A7A7A7;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cars-item-card-desc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.cars-item-card-desc .elipes {
  width: 12px;
  height: 12px;
  border-radius: 32px;
}
.cars-item-card-desc span {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cars-item-card-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.cars-item-card-row span {
  padding: 8px 12px;
  color: #fff;
  text-align: right;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 24px;
}
.cars-item-card-bot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 20px 0px;
  gap: 24px;
}
.cars-item-card-bot a {
  padding: 12px 30px;
  border-radius: 12px;
  color: #FFF;
  text-align: right;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.detail-wrapper {
  padding: 80px 0px;
  gap: 32px;
}

.detail-left {
  gap: 24px;
}
.detail-left h2 {
  color: #fff;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.detail-left img {
  max-width: 100%;
  height: 400px;
}
.detail-right {
  justify-content: center;
  align-items: end;
}
.detail-right .detail-content {
  width: 400px;
  gap: 32px;
  padding: 24px;
  border-radius: 12px;
  background-color: #212529;
}
.detail-right .detail-content h2 {
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.detail-right .detail-content-list {
  gap: 12px;
}
.detail-right .detail-content-list-item {
  gap: 8px;
  align-items: center;
}
.detail-right .detail-content-list-item svg {
  width: 24px;
  height: 24px;
}
.detail-right .detail-content-list-item span {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.detail-right .detail-content-btn {
  gap: 24px;
}
.detail-right .detail-content-btn a {
  padding: 12px 32px;
  border-radius: 12px;
  color: #FFF;
}

.rent-wrapper {
  width: 600px;
  margin: 80px auto;
  padding: 24px 40px;
  background-color: #212529;
  border-radius: 12px;
  font-family: "Poppins";
  color: #fff;
  gap: 24px;
}

.rent-header {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.rent-body form .form-btn {
  margin-top: 32px;
  gap: 32px;
}
.rent-body form .form-btn button {
  padding: 12px 24px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  border-radius: 12px;
}
.rent-body form .form-btn a {
  padding: 12px 24px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  border-radius: 12px;
}/*# sourceMappingURL=styles.css.map */